<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-button>
    <ion-title>NewsList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Breaking News!</ion-card-subtitle>
      <ion-card-title>The Corona Virus </ion-card-title>
    </ion-card-header>

    <ion-card-content (click)="GoToDetails">
      Coronavirus disease (COVID-19) is an infectious disease caused by a new virus.
      <p><strong>Author: </strong>Me</p>
      <p><strong>Date: </strong> Today</p>
    </ion-card-content>
  </ion-card>

  

  


  <div>
    <button>Good News!</button>
  </div>

</ion-content>
